.VariantResults__total {
  margin: 10px 2px;
}

.VariantResults tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.VariantResults th,
.VariantResults td {
  font-size: 14px;
}

.VariantResults th {
  background-color: #11ae96;
  color: white;
  padding: 9px 17px 6px 9px;
  text-align: left;
  text-transform: uppercase;
}
