.GeneResults__list {
  background: rgba(255, 255, 255, 0.95);
  list-style: none;
  max-width: 450px;
  padding: 0;
  width: 80%;
}

.GeneResults__listItem {
  border-left: 1px solid #11ae96;
  border-right: 1px solid #11ae96;
  border-top: 1px solid #f2f2f2;
  padding: 4px 10px 2px 10px;
}

.GeneResults__listItem:first-child {
  border-top: 1px solid #11ae96;
}

.GeneResults__listItem:last-child {
  border-bottom: 1px solid #11ae96;
}

.GeneResults__listItem:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
